<%- layout ('layouts/boilerplate') %>




<script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js' crossorigin></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' crossorigin rel='stylesheet' />


<nav class="nav">
  <p class="nav__logo">Kayaks4Life</p>
  <a class="nav__item" aria-current="page" href="/dashboard">Home</a>

  <a class="nav__item nav__selected" href="/launchLocations">Launch Locations</a>
  <% if(!currentUser){ %>
  <a class="nav__item" href=" /login">Login</a>
  <a class="nav__item" href="/register">Register</a>
  <% }else{ %>
  <a class="nav__item" href="/logout">Logout</a>
  <% } %>

</nav>


<body class="">


  <div id="cluster-map"></div>
  <h1 class="index__heading">All Launch Locations</h1>
  <main class="index__wrapper">
    <div class="">
      <%- include('../partials/flash') %>
    </div>





    <% for(site of locationSite){ %>

    <div class="index__card feature--card">
      <div class="index__card--img-container">
        <div class="">
          <% if(site.image.length) {%>
          <img class="index__card--img" alt="kayak launch photo" src=<%=site.image[0].url %>>
          <% }else{ %>
          <img class="index__card--img" alt="" src="https://images.unsplash.com/photo-1501697372968-40fa90cd1da3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NjR8NDgzMjUxfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
          <% } %>
        </div>
      </div>
      <div class="index__card__footer">
        <div class="">
          <h5 class="index__card__footer--title">
            <%= site.title %>
          </h5>
          <p class="index__card__footer--description">
            <%= site.description %>
          </p>
          <p class="index__card__footer--location">
            <%= site.location %>
          </p>
          <a class="btn-text-primary" href="/launchLocations/<%= site.id %>">View <%=
                                        site.title %> </a>
        </div>
      </div>

    </div>

    <% } %>

  </main>


  <script>
    const locationSite = {
      features: <%- JSON.stringify(locationSite) %>
    }
    const mapToken = '<%= process.env.MAPBOX_TOKEN %>'
  </script>
  <script src="/jscripts/clusterMap.js"></script>




</body>

</html>